html {
    cursor: url("assets/cursor.svg"), auto;
}

.introbg{
    background-color: #eddcd2;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:#e98b34;
    font-weight: 900;
}

.projectsbg{
    background-color: #E2A499;
}

body {
    font-family: "Gill sans", "Arial";
}

.navbar-custom {
    background-color: rgba(237,220,210,255);
    color:#e98b34;
    font-family: "Gill sans", "Arial";
}

.navbar-brand{
    color:#e98b34;
    font-family: "Optima", "Arial"; 
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233, 139, 52, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #e98b34;
} 

.nav-link {
    color: #e89e58;
    font-family: "Gill sans", "Arial";

}

.navbar-brand:hover {
    color: #E68268;
}

.nav-link:hover {
    color: #E68268;
}

.section-size{
    height: 100vh;
    width: 100%;
}

section {
    scroll-margin-top: 70px;
}