html {
    cursor: url("assets/cursor.svg"), auto;
}

.introbg{
    background-color: #eddcd2;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projectsbg{
    background-color: #E2A499;
}

body {
    font-family: "Gill sans", "Arial";
}

.navbar-custom {
    background-color: rgba(237,220,210,255);
    color:#e98b34;
    font-family: "Gill sans", "Arial";
}

.navbar-brand{
    color:#e98b34;
    font-family: "Optima", "Arial"; 
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233, 139, 52, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #e98b34;
} 

.nav-link {
    color: #e89e58;
    font-family: "Gill sans", "Arial";

}

.navbar-brand:hover {
    color: #E68268;
}

.nav-link:hover {
    color: #E68268;
}

.section-size{
    height: 100vh;
    width: 100%;
}

section {
    scroll-margin-top: 70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

h1 {
    color:#e98b34;
    font-family: "Optima", "Arial"; 
    font-weight: bold;
    padding: 2rem 0 2rem 0;
}

h2 {
    padding-top: 1.25rem;
    color: #eddcd2;
    font-family: "Gill sans", "Arial";
    font-weight: bold;
}

p {
    color:#fff;
    font-family: "Gill sans", "Arial";
    font-size: 1.5rem;
}

.carousel {
    justify-content: center;
    display:flex;

}

.carousel-inner {
    display: flex;

}

.carousel-button {
    background-color:#E68268;
    color: #fff;
    box-shadow: 6px 6px 8px 0  #e7c2ba, 4px 4px 6px 0 #CB997E;
}

.carousel-button:hover {
    background-color:#CB997E;
    color:  #e7c2ba;
    transform: translateY(10%);
    box-shadow: none;
}

.title {
    margin-bottom: 0%; 
    font-family:Optima, Arial; 
    font-weight:bold; 
    color:#e98b34; 
    padding: 0 0 0 0; 
    position:relative ; 
    padding: 40px 40px 0 0;
    display: inline-block

}

@keyframes spin {
    0% {
        transform: rotate(-5deg);
      }
    50% {
        transform: rotate(5deg);
      }

    100% {
        transform: rotate(-5deg);
      }
  }

.rotating-image {
    animation: 1s spin infinite linear;
    filter: drop-shadow(30px 30px 4px #e7c2ba); 
    width: 70%; 
    height: auto;
}

.left-intro-col{
    position: relative; 
    display: flex; 
    justify-content: 
    flex-end; align-items: 
    center;
}

.project-btn {
    margin-bottom: 60px;
}

.section-container{
    margin-left: 10%;
}

.about-col1{
    background-color: #e7c2ba;
    padding: 0 40px 0 40px;
}

.about-col2{
    background-color: #e68268; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.star1{
    width:10%; 
    height:auto; 
    transform:translate(-90%, -100%)
}

.star2 {
    width:10%;
    height:auto; 
    transform:translate(-90%, 0%)
}

.squiggle{
    width:80%; 
    height:auto; 
    transform:translate(-90%, 40%); 
    z-index: 0;  
    position: absolute;
}

.me{
    width:70%; 
    height:auto; 
    border: 5px solid #E2A499; 
    border-radius: 25px; 
    position: relative;
}

.splash{
    width:10%; 
    height:auto; 
    position:absolute; 
    top:0; 
    right:0; 
    transform: translate(-100%, 0%) rotate(120deg);
}

.soft-eng{
    font-family: "Gill sans", "Arial"; 
    color:#e89e58; 
    font-weight:normal; 
    padding: 0 0 0 0;
}

.half-moon{
    width:70%; 
    height:auto; 
    transform: rotate(-90deg) translate(40%, 100%);
    
}

.carousel-images{
    display: flex; justify-content: center;
}